<div class="bg-light shadow">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light  pb-0">
            <div class="mr-auto">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('search')}}"><i class="fas fa-search mx-2"></i></a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog"></i>
                        </a>
                        <div class="dropdown-menu overflow-auto" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item border-bottom " href="#">
                                {{app.user.firstName}} {{app.user.lastName}}
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href=" {{path('dashbord')}} ">Dashbord</a>
                            {% endif %}
                            <a class="dropdown-item" href=" {{path('commande')}} ">Commande</a>
                            <a class="dropdown-item" href=" {{path('account_logout')}} ">Déconnexion</a>

                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('account_login')}}"><i class="fas fa-user"></i></a>
                    </li>
                    {% endif %}
                    <ul>
            </div>
            <a class="navbar-brand mr-0 mb-auto" href="{{path('homePage')}}"><img src="/images/logo.png" alt=""></a>
        </nav>

        <nav class="navbar navbar-expand-lg navbar-light   ">
            <button class=" ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('homePage')}}">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nos produits
                        </a>
                        <div class="dropdown-menu mt-3 pr-5" aria-labelledby="navbarDropdown">
                            {% for category in categorys %}
                            <a class="dropdown-item"
                                href=" {{path('categoryproduct',{'slug': category.slug })}} ">{{category.categoryName}}</a>
                            {% endfor %}
                        </div>

                    </li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nos réalisations
                        </a>
                        <div class="dropdown-menu mt-3 pr-5" aria-labelledby="navbarDropdown">
                            {% for jb in jobs %}
                            <a class="dropdown-item" href=" {{path('production',{'slug': jb.slug })}} "> Agencement pour
                                {{jb.job|capitalize}}</a>
                            {% endfor %}
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('contact')}}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>