{% extends "/model.html.twig" %}

{% block arbo %}

<div>
    <a href="{{ path('homePage') }}">Accueil</a> /
    {{category.categoryName}}
</div>

{% endblock %}
{% block mbody %}

    <div class="mb-5">
        <img class="w-100" src="/images/{{category.image}}" alt="{{category.categoryName}}">
    </div>
    {% if category.products|length == 1 %}
        <div style="font-size: 15px;"> {{category.products|length}} produit</div>
    {% else %}
        <div style="font-size: 15px;"> {{category.products|length}} produits</div>
    {% endif %}
    <div class="row">
        {% for product in category.products  %}
        <div class="col-md-4 p-3">
            <div class="border shadow-sm rounded p-2 product text-center">
                <a href="#">
                   <img style="width: 100%" src="images/{{product.png}}" alt="">
                </a>
                <h6 class="mb-1" style="font-weight: 700">{{category.categoryName}}</h6>
                <div><a href="#">{{ product.productName }}</a></div>
                <button class="btn btn-primary py-1 my-2">En savoir plus</button>
            </div>
        </div>
        {% endfor %}

    </div>




   

{% endblock %}