{% extends 'base.html.twig' %}

{% block title %}Matériel frigorifique et equipements{% endblock %}

{% block body %}

    <div class="container">

    {#*********************************** SLIDERS ***********************************#}
    
        <div id="carouselExampleIndicators" class="carousel slide shadow-lg mt-2" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for slider in sliders %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %} class="active"
                    {% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for slider in sliders %}
                <div class="carousel-item {% if loop.first %} active {% endif %} ">
                    <img src="images/{{slider.image}}" class="d-block w-100" alt="...">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    {#*********************************** PRODUITS PAR MÉTIER ***********************************#}
    
    <div id="realisations" class="row justify-content-center my-5">
        <h3 class="text-center">NOS PRODUITS PAR MÉTIER</h3>
    </div>

    <div class="row justify-content-between">
        {% for jb in jobs %}
        <div class="col-md-4 ">
            <a href="{{ path('jobProduct',{'metier': jb.slug}) }}">
                <div class="single-works">
                    <img src="/images/{{jb.image}}">
                    <div class="overlay-text">
                        <br>
                        <h5 class="title">{{jb.job}}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    </div>
    
{% endblock %}