

{% block title %}

{% endblock title %}


{% block body %}
    <div class="accordion menu-vertical shadow-sm " id="accordionExample">
        {% for cat in categorys %}
            <div class="card">
                <div class="card-header p-0" id="headingTwo">
                    <div class="row justify-content-between pl-3 pr-3">
                        <a href="{{ path('categoryproduct',{'slug': cat.slug}) }}"style="margin: auto 0;" class="pl-2">
                            {{cat.categoryName}}
                        </a>
                        <span class="p-2 btn-link heading" type="button" data-toggle="collapse" data-target="#h{{cat.id}}" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fas fa-caret-down"></i>
                        </span>
                    </div>   
                
                </div>
                <div id="h{{cat.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    {% for product in cat.products %}
                        <div class="my-2">
                            <a href="{{path('productPresentation',{'slug': product.category.slug,'productSlug': product.slug})}}">
                                {{ product.productName }}
                            </a> 
                        </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock body %}