{% extends 'base.html.twig' %}

{% block title %}Dashbord{% endblock %}



{% block body %}

    <div class="container">

        <div class="row justify-content-center my-5">
            <h1 style="font-weight: 500;">{{ 'dashbord'|upper }}</h1>
        </div>

        <div class="row p-3 mx-auto">

            <div class="col-md-4 p-2 ">
                <div class="w-100 dashbord-item">
                    <a href="{{path('category')}}">
                        <div class="col-12 text-center py-5 ">
                            <i class="fas fa-list"></i>
                            <h3>Catégories</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 p-2 ">
                <div class="w-100 dashbord-item">
                    <a href="{{path('sliders')}}">
                        <div class="col-12 text-center py-5 ">
                            <i class="far fa-images"></i>
                            <h3>Sliders</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 p-2 ">
                <div class="w-100 dashbord-item">
                    <a href="{{path('products')}}">
                        <div class="col-12 text-center py-5 ">
                            <i class="fas fa-shopping-cart"></i>
                            <h3>Produits</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 p-2 ">
                <div class="w-100 dashbord-item">
                    <a href="{{path('job')}}">
                        <div class="col-12 text-center py-5 ">
                            <i class="fas fa-store"></i>
                            <h3>Métiers</h3>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}