{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}



{% block body %}

    <div class="container">

        <div class="row justify-content-center my-5">
            <h1 style="font-weight: 500;">{{ 'catégorie'|upper }}</h1>
        </div>

        <div class="row justify-content-end mx-2">
            <a href="{{ path('addCategory')}}">
                <button class="btn btn-primary my-2"type="button">
                    Ajouter
            </button>
            </a>
        </div>
        <div class="row mx-2 p-2 category">
            <div class="col-12">
            {% for cat in categorys %}
                <div class="row justify-content-between px-4 border-bottom mx-3 ">
                    <a href="#" class="my-auto">{{cat.categoryName}}</span>
                    <div>
                        <a href="{{ path('editCategory',{'categoryName': cat.slug}) }}">
                            <button class="btn pr-0 btnmdsup"><i class="fas fa-edit"></i></button>
                        </a>
                        <a href="{{ path('removeCategory',{'categoryName': cat.slug}) }}"
                           onclick="return confirm ('voulez vous vraiment supprimer {{cat.categoryName}} ?')">
                            <button class="btn pr-0 btnmdsup delete"><i class="far fa-trash-alt"></i></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

    </div>
    

{% endblock %}

