{% extends 'base.html.twig' %}
{% block title %}Réalisations{% endblock title %}

{% block body %}

<div class="container mb-5">

    <div class="row justify-content-center my-5">
        <h1 style="font-weight: 500;">{{ 'réalisations'|upper }}</h1>
    </div>
    {% if categorys is empty %}
    <div class="row justify-content-center my-5">
        <h2 class="mx-auto">Vous devez ajouter au moins un métier</h2>
    </div>

    {% else %}
    <div class="row justify-content-end mx-2">
        <a href="{{path('addProductionJob')}}">
            <button class="btn btn-primary my-2" type="button">
                Ajouter
            </button>
        </a>
    </div>
    {% endif %}
    <div class="accordion menu-vertical shadow " id="accordionExample">
        {% for jb in jobs %}
        <div class="card">
            <div class="card-header p-0" id="headingTwo">
                <div class="row justify-content-between pl-3 pr-3">
                    <a href="#" style="margin: auto 0;" class="pl-2">
                        {{jb.job}}
                    </a>
                    <span class="p-2 btn-link heading" type="button" data-toggle="collapse" data-target="#h{{jb.id}}"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </div>

            </div>
            <div id="h{{jb.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    {% for production in jb.productionJobs %}
                    <div>
                        <div class="row justify-content-between px-4 border-bottom mx-3 ">
                            <span class="my-auto">{{ production.customer }}</span>
                            <div>
                                <a href="#">
                                    <button class="btn pr-0 btnmdsup"><i class="fas fa-edit"></i></button>
                                </a>
                                <a href="#"
                                    onclick="return confirm ('voulez vous vraiment supprimer {{ production.customer }} ?')">
                                    <button class="btn pr-0 btnmdsup delete"><i class="far fa-trash-alt"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}