{% extends 'base.html.twig' %}

{% block title %}Métier{% endblock %}



{% block body %}

    <div class="container">

        <div class="row justify-content-center my-5">
            <h1 style="font-weight: 500;">{{ 'métier'|upper }}</h1>
        </div>

        <div class="row justify-content-end mx-2">
            <a href="{{ path('addJob')}}">
                <button class="btn btn-primary my-2"type="button">
                    Ajouter
            </button>
            </a>
        </div>
        <div class="row mx-2 p-2 category">
            <div class="col-12">
            {% for jb in jobs %}
                <div class="row justify-content-between px-4 border-bottom mx-3 ">
                    <a href="#" class="my-auto">{{jb.job}}</span>
                    <div>
                        <a href="{{ path('editJob',{'job': jb.slug}) }}">
                            <button class="btn pr-0 btnmdsup"><i class="fas fa-edit"></i></button>
                        </a>
                        <a href="{{ path('removeJob',{'job': jb.slug}) }}"
                           onclick="return confirm ('voulez vous vraiment supprimer {{jb.job}} ?')">
                            <button class="btn pr-0 btnmdsup delete"><i class="far fa-trash-alt"></i></button>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

    </div>
    

{% endblock %}

