{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}



{% block body %}

    <div class="container">

        <div class="row justify-content-center my-5">
            <h1 style="font-weight: 500;">{{ 'newsletter'|upper }}</h1>
        </div>

        <div class="row justify-content-end mx-2">
            <a href="{{ path('emails')}}" target="_blank">
                <button class="btn btn-primary my-2"type="button">
                        Voir les emails
                </button>
            </a>
        </div>
        
        <div class="row mx-2 p-2 category">
            <div class="col-12">
            {% for subscriber in subscribers %}
            {% if subscriber.unsubscribe == false %}
                <div class="row justify-content-between px-4 border-bottom mx-3 ">
                    {% if subscriber.status == false %}
                    <a href="{{ path('subscriber',{'id': subscriber.id}) }}" class="my-auto" >
                         <strong class="mr-2">{{subscriber.name}} ( {{subscriber.company|upper}} )</strong> 
                    </a>
                    {% else %}
                    <a href="{{ path('subscriber',{'id': subscriber.id}) }}" class="my-auto">{{subscriber.email}}</a>
                    {% endif %}
                    
                    <div>
                        <a href="{{ path('removeSubscribers',{'id': subscriber.id}) }}"
                           onclick="return confirm ('voulez vous vraiment supprimer {{subscriber.name}} ? \ntous les produits inclus dans cette catégorie seront aussi supprimé')">
                            <button class="btn pr-0 btnmdsup delete"><i class="far fa-trash-alt"></i></button>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="row justify-content-center my-5">
            <h1 style="font-weight: 500;">{{ 'abonnés à supprimer'|upper }}</h1>
        </div>

        <div class="row justify-content-end mx-2">
            <a href="{{ path('removeSubAll')}}"
            onclick="return confirm ('voulez vous vraiment supprimer tous les abonnés')">
                <button class="btn btn-danger my-2"type="button">
                        Vider
                </button>
            </a>
        </div>
        <div class="row mx-2 p-2 category">
            <div class="col-12">
            {% for subscriber in subscribers %}
            {% if subscriber.unsubscribe == true %}
                <div class="row justify-content-between px-4 border-bottom mx-3 ">
                    <span class="my-auto">{{subscriber.email}}</span>
                    <div>
                        <a href="{{ path('removeSubscribers',{'id': subscriber.id}) }}"
                           onclick="return confirm ('voulez vous vraiment supprimer {{subscriber.name}} ? \ntous les produits inclus dans cette catégorie seront aussi supprimé')">
                            <button class="btn pr-0 btnmdsup delete"><i class="far fa-trash-alt"></i></button>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        

    </div>
{% endblock %}

